<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/forbidden.css">
    <title>403 Forbidden</title>
</head>
<body>
    <app-void-header></app-void-header>
    <div class="container">
        <div class="error-content">
            <img class="error-image-right" src="/assets/svg/403-1.svg" alt="403 image right">
            <div class="error-text">
                <h1 class="error-code">403</h1>
                <h2 class="error-message">Permission non accordée</h2>
            </div>
            <img class="error-image-left" src="/assets/svg/403-2.svg" alt="403 image left">
        </div>
        <p class="error-description">
            Désolé, mais vous n'avez pas l'autorisation d'accéder à cette page. Si vous pensez qu'il s'agit d'une erreur, veuillez vous reconnecter.
        </p>
    </div>
</body>
</html>
